
        *{
            margin: 0;
            padding: 0;
        }
        body{
            width: 100%;
        }
        #anquan{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
            /*background: #ffffff;*/
            color: #333333;
            /*width: 100%;*/
            /*-webkit-box-sizing: border-box;*/
            /*-moz-box-sizing: border-box;*/
            /*box-sizing: border-box;*/
        }
        #anquan-header{
            width: 100%;
            height:0.88rem;
            line-height: 0.88rem;
            color: #333;
            font-size: 0.31rem;
            z-index: 999;
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;

        }
        .goback{
            width: 0.22rem;
            height: 0.38rem;
            overflow: hidden;
            position: absolute;
            background-image: url(../img/arrows.png);
            background-size: 100% auto;
            background-repeat: no-repeat;

        }
        .icon-goback {
            top: 0.24rem;
            left: 0.3rem;
        }
        /*内容*/
        .anquan-content{
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0.88rem;
            overflow: auto;
        }
        /*多重安全保障*/
        .anquan-content .content-guarantee{}
        .anquan-content .content-guarantee img{
            display:block;
            width: 100%;
        }
        /*恒丰银行资金存管*/
        .anquan-content .content-deposit{
            padding: 0 0.5rem;
        }
        .anquan-content .content-deposit .deposit-title{
            font-size: 0.35rem;
            text-align: center;
            font-weight: bold;
            margin-top: 0.39rem;
            margin-bottom: 0.3rem;
        }
        .anquan-content .content-deposit .deposit-details{
            font-size: 0.25rem;
            line-height: 0.44rem;
            background-color: #f3fbff;
            padding:0.03rem 0.26rem 0.13rem 0.24rem;
            box-shadow:0.03rem 0.02rem 0.04rem #e7f1fc;
            margin-bottom: 0.2rem;
            color: #666666;
        }
        .anquan-content .content-deposit div{
            /*width: 6.5rem;*/
            width: 90%;
            /*height: 5.1rem;*/
            margin:0 auto;
            padding-bottom: 0.39rem;
        }
        .anquan-content .content-deposit div img{
            display:block;
            width: 100%;
        }
            /*甄选优质资产*/
        .anquan-content .content-asset{
            padding:0 0.5rem;
            background-color: #f5f5f5;
            /*height: 24rem;*/
        }
        .anquan-content .content-asset .asset-title{
            font-size: 0.35rem;
            text-align: center;
            font-weight: bold;
            padding-top: 0.74rem;
            margin-bottom: 0.3rem;
            letter-spacing:0.01rem;
        }
        .anquan-content .content-asset .asset-baozhang{
            width: 2.08rem;
            margin: 0 auto;
        }
        .anquan-content .content-asset img{
            display: block;
            width: 100%;
            /*height: 2.03rem;*/
            margin: 0 auto;
        }
        /*贷前审查*/
        .anquan-content .content-asset .asset-examine{
            width: 100%;
            height: 10.5rem;
            -webkit-tap-highlight-color: transparent;
            box-sizing: border-box;
        }
        .anquan-content .content-asset .asset-examine .examine-subtitle{
            padding-top: 0.41rem;
            padding-bottom: 0.35rem;

        }
        .anquan-content .content-asset .asset-examine .examine-subtitle .subtitle-t{
            font-size: 0.27rem;
            font-weight: bold;
            text-align: center;
            color: #333333;
            padding-bottom: 0.1rem;
            letter-spacing:0.02rem;
        }
        .anquan-content .content-asset .asset-examine .examine-subtitle .subtitle-b{
            /*padding-top: 0.1rem;*/
            width: 0.26rem;
            height: 0.02rem;
            background: #fe6623;
            margin: 0 auto;
        }

        .anquan-content .content-asset .asset-examine img{
            width: 0.9rem;
            height: 0.9rem;
            padding-bottom: 0.3rem;
            padding-top: 0.3rem;
        }
        .anquan-content .content-asset .asset-examine .examine-one{
            border:0.02rem solid #dadada;
            /*width: 3.08rem;*/
            height: 4.5rem;
            width: 42%;
            padding-right: 0.19rem;
            padding-left: 0.19rem;
            float: left;
            /*margin-right: 0.29rem;*/
            border-radius: 5px;;
            margin-bottom: 0.18rem;
        }
        .anquan-content .content-asset .asset-examine .examine-one .one-title{
            font-size: 0.27rem;
            font-weight: bold;
            color: #333;
            text-align: center;
            padding-bottom: 0.19rem;
            letter-spacing:0.04rem;
        }
        .anquan-content .content-asset .asset-examine .examine-one .one-details{
            font-size: 0.23rem;
            color: #666;
            line-height: 0.4rem;
            letter-spacing:0.05rem;
        }
        .anquan-content .content-asset .asset-examine .examine-two{
            border:0.02rem solid #dadada;
            /*width: 3.08rem;*/
            height: 4.5rem;
            width: 42%;
            padding-right: 0.19rem;
            padding-left: 0.19rem;
            float: right;
            border-radius: 5px;;
            margin-bottom: 0.18rem;
        }
        .anquan-content .content-asset .asset-examine .examine-two .two-title{
            font-size: 0.27rem;
            font-weight: bold;
            color: #333;
            text-align: center;
            padding-bottom: 0.19rem;
            letter-spacing:0.04rem;
        }
        .anquan-content .content-asset .asset-examine .examine-two .two-details{
            font-size: 0.23rem;
            color: #666;
            line-height: 0.4rem;
            letter-spacing:0.05rem;
        }
        .anquan-content .content-asset .asset-examine .examine-three{
            border:0.02rem solid #dadada;
            /*width: 3.08rem;*/
            height: 4.5rem;
            width: 42%;
            padding-right: 0.19rem;
            padding-left: 0.19rem;
            float: left;
            /*margin-right: 0.29rem;*/
            border-radius: 5px;;
        }
        .anquan-content .content-asset .asset-examine .examine-three .three-title{
            font-size: 0.27rem;
            font-weight: bold;
            color: #333;
            text-align: center;
            padding-bottom: 0.19rem;
            letter-spacing:0.04rem;
        }
        .anquan-content .content-asset .asset-examine .examine-three .three-details{
            font-size: 0.23rem;
            color: #666;
            line-height: 0.4rem;
            letter-spacing:0.05rem;
        }
        .anquan-content .content-asset .asset-examine .examine-four{
            border:0.02rem solid #dadada;
            /*width: 3.08rem;*/
            height: 4.5rem;
            width: 42%;
            padding-right: 0.19rem;
            padding-left: 0.19rem;
            float: right;
            border-radius: 5px;;
        }
        .anquan-content .content-asset .asset-examine .examine-four .four-title{
            font-size: 0.27rem;
            font-weight: bold;
            color: #333;
            text-align: center;
            padding-bottom: 0.19rem;
            letter-spacing:0.04rem;
        }
        .anquan-content .content-asset .asset-examine .examine-four .four-details{
            font-size: 0.23rem;
            color: #666;
            line-height: 0.4rem;
            letter-spacing:0.05rem;
        }
        /*贷中管理*/
        .anquan-content .content-asset .asset-manage{

        }
        .anquan-content .content-asset .manage-subtitle{

            padding-bottom: 0.35rem;
        }
        .anquan-content .content-asset .manage-subtitle .subtitle-t{
            font-size: 0.27rem;
            font-weight: bold;
            text-align: center;
            color: #333333;
            padding-bottom: 0.1rem;
            letter-spacing:0.02rem;
            margin-top: 0.41rem;
        }
        .anquan-content .content-asset .manage-subtitle .subtitle-b{
            /*padding-top: 0.1rem;*/
            width: 0.26rem;
            height: 0.02rem;
            background: #fe6623;
            margin: 0 auto;
        }
        .anquan-content .content-asset .manage-flow{
            width: 90%;
            height: 100%;
            margin: 0 auto;
        }
        .anquan-content .content-asset .manage-flow img{
            display: block;
            /*width: 6.5rem;
            height: 6.76rem;*/
            width: 100%;
            
        }
        .anquan-content .content-asset .manage-refund{
            /*width: 6.5rem;
            height: 1.68rem;*/
            width: 90%;
            margin: 0 auto;
            padding-top: 0.52rem;
            padding-bottom: 0.4rem;
        }
        .anquan-content .content-asset .manage-refund img{
            display: block;
            width: 100%;
        }
            /*信息数据安全*/
        .anquan-content .content-data{
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            margin-bottom: 1rem;
        }
        .anquan-content .content-data .data-title{
            font-size: 0.35rem;
            font-weight: bold;
            text-align: center;
            padding-top: 0.41rem;
        }
        .anquan-content .content-data .data-computer{
            padding-bottom: 0.35rem;
            padding-top: 0.32rem;
            width: 2.06rem;
            height: 2.06rem;
            margin: 0 auto;
        }
        .anquan-content .content-data .data-computer img{
            display: block;
            width: 100%;
        }
        .anquan-content .content-data .data-safety{
            margin-bottom: 0.41rem;
        }
        .anquan-content .content-data .data-safety .safety-subtitle{
            font-size: 0.27rem;
            text-align: center;      
            font-weight: bold;
            padding-bottom: 0.3rem;
            letter-spacing:0.01rem;
        }
        .anquan-content .content-data .data-safety .safety-details{
            font-size: 0.25rem;
            color: #747474;
            line-height: 0.41rem;
            letter-spacing:0.02rem;

        }
