<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yixingjjinrong.yixinjinrongapp">
    //联网
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:fitsSystemWindows="true"
        android:icon="@drawable/chengxuyingyong180"
        android:label="@string/app_name"
        android:roundIcon="@drawable/chengxuyingyong180"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity android:name=".MainActivity" />
        <activity android:name=".xiangmuyemian.Xiangmuxiangqing.xiangqing.XiangMuXiangQing" />
        <activity android:name=".xiangmuyemian.faxian.faxianerji.PingTaJieShao" />
        <activity android:name=".xiangmuyemian.faxian.faxianerji.AnQuanBaoZhang" />
        <activity android:name=".xiangmuyemian.faxian.faxianerji.xinxipilu.XinXiPiLu" />
        <activity android:name=".xiangmuyemian.faxian.faxianerji.WangDaiKeTang" />
        <activity android:name=".xiangmuyemian.faxian.jifen_fx.JiFenDuiHuan" />
        <activity android:name=".xiangmuyemian.faxian.jifen_fx.ShangPingXiangQing" />
        <activity android:name=".xiangmuyemian.Xiangmuxiangqing.tishi_book.WandaiTishishu" />
        <activity
            android:name=".wode.dengruzuce.WoDe_DengRu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".wode.dengruzuce.ZhuCe_PaGa" />
        <activity android:name=".wode.dengruzuce.YanZheng_PaGa" />
        <activity android:name=".wode.dengruzuce.ChengGongZhuCe" />
        <activity android:name=".wode.dengruzuce.ZhaoHuiMiMa" />
        <activity android:name=".wode.dengruzuce.ZhaoHuiMiMaYanZheng" />
        <activity android:name=".wode.shezhi.WoDe_SheZhi" />
        <activity android:name=".wode.fore_inot.WoDe_ChuJie" />
        <activity android:name=".wode.dengruzuce.ShiMingrenzheng" />
        <activity android:name=".wode.shezhi.XiuGaiMiMa" />
        <activity android:name=".wode.shezhi.FanKui" />
        <activity android:name=".xiangmuyemian.Xiangmuxiangqing.tishi_book.WebView" />
        <activity android:name=".wode.fore_inot.Juan" />
        <activity android:name=".xiangmuyemian.Xiangmuxiangqing.xiangqing.xiangxixinxifragment.XiangMuJuan" />
        <activity android:name=".wode.FengXianPingCe" />
        <activity android:name=".wode.mycontent.My_Content" />
        <activity android:name=".wode.dengruzuce.ShiMingRenZhengKO" />
        <activity android:name=".wode.dengruzuce.YinHangCunGuan" />
        <activity android:name=".wode.chongzhi.ChongZhq" />
        <activity android:name=".wode.xiaoxi.WoDe_XiaoXi" />
        <activity android:name=".wode.xiaoxi.XiaoXi_XiangQing" />
        <activity android:name=".xiangmuyemian.faxian.twojifen.JIFenJiLu" />
        <activity android:name=".xiangmuyemian.faxian.twojifen.DuiHuanJILu" />
        <activity android:name=".xiangmuyemian.faxian.jifen_fx.xuandizhi.XuanZe_MyAddess" />
        <activity android:name=".wode.mycontent.addess.MyAddess" />
        <activity android:name=".wode.mycontent.addess.UpData_Addass" />
        <activity android:name=".wode.mycontent.addess.AddAddass" />
        <activity android:name=".wode.h5.ZhuCeH5" />
        <activity android:name=".wode.fore_inot.chujie_fragment.ChuJIeXiangQing" />
        <activity android:name=".wode.fore_inot.zijinliushui.ZiJinliushui" />
        <activity android:name=".wode.mycontent.shiming.YiShiMing" />
        <activity android:name=".wode.chongzhi.ChongZhiOK" />
        <activity android:name=".wode.yaoqing.MyYaoQing" />
        <activity android:name=".wode.yaoqing.YaoQingXiangQing" />
        <activity android:name=".wode.zongzichen.ZongziChan" />
        <activity android:name=".wode.chongzhi.KUaiJieZhiFu" />
        <activity android:name=".wode.chongzhi.QianYueOk" />
        <activity android:name=".xiangmuyemian.Xiangmuxiangqing.ChuJie_OK" />
        <activity android:name=".wode.chongzhi.jieguo.ChongZhiShiBai" />
        <activity android:name=".wode.tixian.TiXian" />
        <activity android:name=".wode.tixian.TiXian_OK" />
        <activity android:name=".wode.chongzhi.ZhiChiBanK" />
        <activity android:name=".wode.fore_inot.chujie_fragment.ChuJieXiangXing.Wo_HuikuanJIHua" />
        <activity android:name=".wode.chongzhi.jieguo.ChongZhiSuccers" />
        <activity android:name=".xiangmuyemian.faxian.jifen_fx.JiFenGongLv" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".wode.tixian.jieguo.Putforward_ok" />
        <activity android:name=".wode.tixian.jieguo.Putforward_fail" />
        <activity android:name=".Guide_Pager" />
        <activity android:name=".wode.contractResult.Contract_OK" />
        <activity android:name=".wode.contractResult.Contract_loser" />
        <activity android:name=".wode.contractResult.How_Do_I" />
        <activity android:name=".xiangmuyemian.shouye.xiaoxi.ShouYe_GongGao" />
        <activity android:name=".xiangmuyemian.shouye.banner_h5.ShouYe_HuoDong" />
        <activity android:name=".wode.yinghancunguan_jieguo.CunGuan_succser" />
        <activity android:name=".wode.yinghancunguan_jieguo.CunGuan_lose" />
        <activity android:name=".xiangmuyemian.wangdaiClass.Class_xiangqing" />
        <activity android:name=".wode.yaoqing.HuoDong_GuiZe" />
        <activity android:name=".xiangmuyemian.faxian.faxianerji.xinxipilu.xinxipilufragment.baogaoPDF.BaoGaoXiangQing" />
        <activity android:name=".xiangmuyemian.faxian.jifen_fx.DuiHuanXiangQing" />
        <activity android:name=".HandUtils.GestureEditActivity" />
        <activity android:name=".HandUtils.GestureVerifyActivity" />
        <activity android:name=".wode.fore_inot.wodechujie_one.MyChuJie_one" />
        <activity android:name=".wode.fore_inot.wodechujie_one.yidaoqi.YiDaoQiXiangMu" />
        <activity android:name=".wode.fore_inot.juan_fragment.juan_daoqi.JiaxiJuan_DaoQi" />
        <activity android:name=".wode.fore_inot.juan_fragment.juan_daoqi.XianJinJuan_YiDao"></activity>
    </application>

</manifest>