<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yixingjjinrong.yixinjinrongapp">
    //联网
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".xiangmuyemian.Xiangmuxiangqing.xiangqing.XiangMuXiangQing" />
        <activity android:name=".xiangmuyemian.faxian.faxianerji.PingTaJieShao" />
        <activity android:name=".xiangmuyemian.faxian.faxianerji.AnQuanBaoZhang" />
        <activity android:name=".xiangmuyemian.faxian.faxianerji.xinxipilu.XinXiPiLu" />
        <activity android:name=".xiangmuyemian.faxian.faxianerji.WangDaiKeTang" />
        <activity android:name=".xiangmuyemian.faxian.jifen_fx.JiFenDuiHuan" />
        <activity android:name=".xiangmuyemian.faxian.jifen_fx.ShangPingXiangQing" />
        <activity android:name=".xiangmuyemian.Xiangmuxiangqing.tishi_book.WandaiTishishu" />
        <activity
            android:name=".wode.dengruzuce.WoDe_DengRu"
            android:launchMode="singleTask" />
        <activity android:name=".wode.dengruzuce.ZhuCe_PaGa" />
        <activity android:name=".wode.dengruzuce.YanZheng_PaGa" />
        <activity android:name=".wode.dengruzuce.ChengGongZhuCe" />
        <activity android:name=".wode.dengruzuce.ZhaoHuiMiMa" />
        <activity android:name=".wode.dengruzuce.ZhaoHuiMiMaYanZheng" />
        <activity android:name=".wode.shezhi.WoDe_SheZhi" />
        <activity android:name=".wode.fore_inot.WoDe_ChuJie" />
        <activity android:name=".wode.dengruzuce.ShiMingrenzheng" />
        <activity android:name=".wode.shezhi.XiuGaiMiMa" />
        <activity android:name=".wode.shezhi.FanKui" />
        <activity android:name=".xiangmuyemian.Xiangmuxiangqing.tishi_book.WebView" />
        <activity android:name=".wode.fore_inot.Juan" />
        <activity android:name=".xiangmuyemian.Xiangmuxiangqing.xiangqing.xiangxixinxifragment.XiangMuJuan" />
        <activity android:name=".wode.FengXianPingCe" />
        <activity android:name=".wode.mycontent.My_Content" />
        <activity android:name=".wode.dengruzuce.ShiMingRenZhengKO" />
        <activity android:name=".wode.dengruzuce.YinHangCunGuan" />
        <activity android:name=".wode.chongzhi.ChongZhq" />
        <activity android:name=".wode.xiaoxi.WoDe_XiaoXi" />
        <activity android:name=".wode.xiaoxi.XiaoXi_XiangQing" />
        <activity android:name=".xiangmuyemian.faxian.twojifen.JIFenJiLu" />
        <activity android:name=".xiangmuyemian.faxian.twojifen.DuiHuanJILu" />
        <activity android:name=".xiangmuyemian.faxian.goodsmassing.ShangPinXiangQing" />
        <activity android:name=".wode.mycontent.addess.MyAddess" />
        <activity android:name=".wode.mycontent.addess.UpData_Addass" />
        <activity android:name=".wode.mycontent.addess.AddAddass" />
        <activity android:name=".wode.h5.ZhuCeH5" />
        <activity android:name=".wode.fore_inot.chujie_fragment.ChuJIeXiangQing" />
        <activity android:name=".wode.fore_inot.zijinliushui.ZiJinliushui"></activity>
    </application>

</manifest>